LOCATE	COMP	"i_clk"	SITE	"P6"; # 25 MHz clock
IOBUF	PORT 	"i_clk" 	IO_TYPE=LVCMOS33;
FREQUENCY NET 	"i_clk" 	25.000000 MHz ;
USE PRIMARY NET "i_clk" ;
INPUT_SETUP ALLPORTS 10.000000 ns CLKNET "i_clk" ; 

#-------LED--------------------------------------
LOCATE	COMP	"o_led"	SITE	"T6";
IOBUF	PORT	"o_led"	IO_TYPE=LVCMOS33;

#-------BUTTON-----------------------------------
LOCATE	COMP	"asyncReset"	SITE	"R7";
IOBUF	PORT	"asyncReset"	IO_TYPE=LVCMOS33;


#------HUB75 Pin --------------------------------

#------Shared Pin -------------------------------

#LOCATE	COMP	"N5"	SITE	"N5";	#pin 9
#IOBUF	PORT	"N5"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"N3"	SITE	"N3";	#pin 10
#IOBUF	PORT	"N3"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"P3"	SITE	"P3";	#pin 11
#IOBUF	PORT	"P3"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"P4"	SITE	"P4";	#pin 12
#IOBUF	PORT	"P4"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"N4"	SITE	"N4";	#pin 8
#IOBUF	PORT	"N4"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"M3"	SITE	"M3";	#pin 13
#IOBUF	PORT	"M3"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"N1"	SITE	"N1";	#pin 14
#IOBUF	PORT	"N1"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"M4"	SITE	"M4";	#pin 15
#IOBUF	PORT	"M4"	IO_TYPE=LVCMOS33;

#------J1----------------------------------------

LOCATE	COMP	"jtag_tck"	SITE	"C4";	#pin 1
IOBUF	PORT	"jtag_tck"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"jtag_tdi"	SITE	"D4";	#pin 2
IOBUF	PORT	"jtag_tdi"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"jtag_tdo"	SITE	"E4";	#pin 3
IOBUF	PORT	"jtag_tdo"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"jtag_tms"	SITE	"D3";	#pin 5
IOBUF	PORT	"jtag_tms"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"uart_0_rxd"	SITE	"E3";	#pin 6
IOBUF	PORT	"uart_0_rxd"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"uart_0_txd"	SITE	"F4";	#pin 7
IOBUF	PORT	"uart_0_txd"	IO_TYPE=LVCMOS33;

#------J2----------------------------------------

LOCATE	COMP	"spi_0_ss"	SITE	"F3";	#pin 1
IOBUF	PORT	"spi_0_ss"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"spi_0_sclk"	SITE	"F5";	#pin 2
IOBUF	PORT	"spi_0_sclk"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"spi_0_miso"	SITE	"G3";	#pin 3
IOBUF	PORT	"spi_0_miso"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"spi_0_mosi"	SITE	"G4";	#pin 5
IOBUF	PORT	"spi_0_mosi"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"i2c_0_scl"	SITE	"H3";	#pin 6
IOBUF	PORT	"i2c_0_scl"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"i2c_0_sda"	SITE	"H4";	#pin 7
IOBUF	PORT	"i2c_0_sda"	IO_TYPE=LVCMOS33;

#------J3----------------------------------------

LOCATE	COMP	"gpioA[0]"	SITE	"G5";	#pin 1
IOBUF	PORT	"gpioA[0]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"gpioA[1]"	SITE	"H5";	#pin 2
IOBUF	PORT	"gpioA[1]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"gpioA[2]"	SITE	"J5";	#pin 3
IOBUF	PORT	"gpioA[2]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"gpioA[3]"	SITE	"J4";	#pin 5
IOBUF	PORT	"gpioA[3]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"gpioA[4]"	SITE	"B1";	#pin 6
IOBUF	PORT	"gpioA[4]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"gpioA[5]"	SITE	"C2";	#pin 7
IOBUF	PORT	"gpioA[5]"	IO_TYPE=LVCMOS33;

#------J4----------------------------------------

LOCATE	COMP	"gpioA[6]"	SITE	"C1";	#pin 1
IOBUF	PORT	"gpioA[6]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"gpioA[7]"	SITE	"D1";	#pin 2
IOBUF	PORT	"gpioA[7]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"gpioA[8]"	SITE	"E2";	#pin 3
IOBUF	PORT	"gpioA[8]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"gpioA[9]"	SITE	"E1";	#pin 5
IOBUF	PORT	"gpioA[9]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"gpioA[10]"	SITE	"F2";	#pin 6
IOBUF	PORT	"gpioA[10]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"gpioA[11]"	SITE	"F1";	#pin 7
IOBUF	PORT	"gpioA[11]"	IO_TYPE=LVCMOS33;


#------J5----------------------------------------

LOCATE	COMP	"gpioA[12]"	SITE	"G2";	#pin 1
IOBUF	PORT	"gpioA[12]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"gpioA[13]"	SITE	"G1";	#pin 2
IOBUF	PORT	"gpioA[13]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"gpioA[14]"	SITE	"H2";	#pin 3
IOBUF	PORT	"gpioA[14]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"gpioA[15]"	SITE	"K5";	#pin 5
IOBUF	PORT	"gpioA[15]"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"K4"	SITE	"K4";	#pin 6
#IOBUF	PORT	"K4"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"L3"	SITE	"L3";	#pin 7
#IOBUF	PORT	"L3"	IO_TYPE=LVCMOS33;

#------J6----------------------------------------

#LOCATE	COMP	"L4"	SITE	"L4";	#pin 1
#IOBUF	PORT	"L4"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"L5"	SITE	"L5";	#pin 2
#IOBUF	PORT	"L5"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"P2"	SITE	"P2";	#pin 3
#IOBUF	PORT	"P2"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"R2"	SITE	"R2";	#pin 5
#IOBUF	PORT	"R2"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"T2"	SITE	"T2";	#pin 6
#IOBUF	PORT	"T2"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"R3"	SITE	"R3";	#pin 7
#IOBUF	PORT	"R3"	IO_TYPE=LVCMOS33;

#------J7----------------------------------------

#LOCATE	COMP	"T3"	SITE	"T3";	#pin 1
#IOBUF	PORT	"T3"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"R4"	SITE	"R4";	#pin 2
#IOBUF	PORT	"R4"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"M5"	SITE	"M5";	#pin 3
#IOBUF	PORT	"M5"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"P5"	SITE	"P5";	#pin 5
#IOBUF	PORT	"P5"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"N6"	SITE	"N6";	#pin 6
#IOBUF	PORT	"N6"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"N7"	SITE	"N7";	#pin 7
#IOBUF	PORT	"N7"	IO_TYPE=LVCMOS33;

#------J8----------------------------------------

#LOCATE	COMP	"P7"	SITE	"P7";	#pin 1
#IOBUF	PORT	"P7"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"M7"	SITE	"M7";	#pin 2
#IOBUF	PORT	"M7"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"P8"	SITE	"P8";	#pin 3
#IOBUF	PORT	"P8"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"R8"	SITE	"R8";	#pin 5
#IOBUF	PORT	"R8"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"M8"	SITE	"M8";	#pin 6
#IOBUF	PORT	"M8"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"M9"	SITE	"M9";	#pin 7
#IOBUF	PORT	"M9"	IO_TYPE=LVCMOS33;

#------J9----------------------------------------

#LOCATE	COMP	"P11"	SITE	"P11";	#pin 1
#IOBUF	PORT	"P11"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"N11"	SITE	"N11";	#pin 2
#IOBUF	PORT	"N11"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"M11"	SITE	"M11";	#pin 3
#IOBUF	PORT	"M11"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"T13"	SITE	"T13";	#pin 5
#IOBUF	PORT	"T13"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"R12"	SITE	"R12";	#pin 6
#IOBUF	PORT	"R12"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"R13"	SITE	"R13";	#pin 7
#IOBUF	PORT	"R13"	IO_TYPE=LVCMOS33;

#------J10----------------------------------------

#LOCATE	COMP	"R14"	SITE	"R14";	#pin 1
#IOBUF	PORT	"R14"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"T14"	SITE	"T14";	#pin 2
#IOBUF	PORT	"T14"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"D16"	SITE	"D16";	#pin 3
#IOBUF	PORT	"D16"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"C15"	SITE	"C15";	#pin 5
#IOBUF	PORT	"C15"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"C16"	SITE	"C16";	#pin 6
#IOBUF	PORT	"C16"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"B16"	SITE	"B16";	#pin 7
#IOBUF	PORT	"B16"	IO_TYPE=LVCMOS33;

#------J11----------------------------------------

#LOCATE	COMP	"B15"	SITE	"B15";	#pin 1
#IOBUF	PORT	"B15"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"C14"	SITE	"C14";	#pin 2
#IOBUF	PORT	"C14"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"T15"	SITE	"T15";	#pin 3
#IOBUF	PORT	"T15"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"P15"	SITE	"P15";	#pin 5
#IOBUF	PORT	"P15"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"R15"	SITE	"R15";	#pin 6
#IOBUF	PORT	"R15"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"P12"	SITE	"P12";	#pin 7
#IOBUF	PORT	"P12"	IO_TYPE=LVCMOS33;

#------J12----------------------------------------

#LOCATE	COMP	"P13"	SITE	"P13";	#pin 1
#IOBUF	PORT	"P13"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"N12"	SITE	"N12";	#pin 2
#IOBUF	PORT	"N12"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"N13"	SITE	"N13";	#pin 3
#IOBUF	PORT	"N13"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"M12"	SITE	"M12";	#pin 5
#IOBUF	PORT	"M12"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"P14"	SITE	"P14";	#pin 6
#IOBUF	PORT	"P14"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"N14"	SITE	"N14";	#pin 7
#IOBUF	PORT	"N14"	IO_TYPE=LVCMOS33;

#------J13----------------------------------------

#LOCATE	COMP	"H15"	SITE	"H15";	#pin 1
#IOBUF	PORT	"H15"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"H14"	SITE	"H14";	#pin 2
#IOBUF	PORT	"H14"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"G16"	SITE	"G16";	#pin 3
#IOBUF	PORT	"G16"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"F16"	SITE	"F16";	#pin 5
#IOBUF	PORT	"F16"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"G15"	SITE	"G15";	#pin 6
#IOBUF	PORT	"G15"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"F15"	SITE	"F15";	#pin 7
#IOBUF	PORT	"F15"	IO_TYPE=LVCMOS33;

#------J14----------------------------------------

#LOCATE	COMP	"E15"	SITE	"E15";	#pin 1
#IOBUF	PORT	"E15"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"E16"	SITE	"E16";	#pin 2
#IOBUF	PORT	"E16"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"L12"	SITE	"L12";	#pin 3
#IOBUF	PORT	"L12"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"L13"	SITE	"L13";	#pin 5
#IOBUF	PORT	"L13"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"M14"	SITE	"M14";	#pin 6
#IOBUF	PORT	"M14"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"L14"	SITE	"L14";	#pin 7
#IOBUF	PORT	"L14"	IO_TYPE=LVCMOS33;

#------J15----------------------------------------

#LOCATE	COMP	"J13"	SITE	"J13";	#pin 1
#IOBUF	PORT	"J13"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"K13"	SITE	"K13";	#pin 2
#IOBUF	PORT	"K13"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"J12"	SITE	"J12";	#pin 3
#IOBUF	PORT	"J12"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"H13"	SITE	"H13";	#pin 5
#IOBUF	PORT	"H13"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"H12"	SITE	"H12";	#pin 6
#IOBUF	PORT	"H12"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"G12"	SITE	"G12";	#pin 7
#IOBUF	PORT	"G12"	IO_TYPE=LVCMOS33;

#------J16----------------------------------------

#LOCATE	COMP	"F14"	SITE	"F14";	#pin 1
#IOBUF	PORT	"F14"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"G13"	SITE	"G13";	#pin 2
#IOBUF	PORT	"G13"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"F12"	SITE	"F12";	#pin 3
#IOBUF	PORT	"F12"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"F13"	SITE	"F13";	#pin 5
#IOBUF	PORT	"F13"	IO_TYPE=LVCMOS33;

##ERROR
#LOCATE	COMP	"F14"	SITE	"F14";	#pin 6
#IOBUF	PORT	"F14"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"E14"	SITE	"E14";	#pin 7
#IOBUF	PORT	"E14"	IO_TYPE=LVCMOS33;





#------SPI flash---------------------------------

#LOCATE	COMP	"SPI_CS"	SITE	"N8";
#IOBUF	PORT	"SPI_CS"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"SPI_SO"	SITE	"T7";
#IOBUF	PORT	"SPI_SO"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"SPI_SI"	SITE	"T8";
#IOBUF	PORT	"SPI_SI"	IO_TYPE=LVCMOS33;

#Note that N9 is not a user IO pin on the ECP5 but is part of the sysCONFIG block, so user code must the USRMCLK instance to control this pin.
#LOCATE	COMP	"SPI_CLK"	SITE	"N9";
#IOBUF	PORT	"SPI_CLK"	IO_TYPE=LVCMOS33;

#------SDRAM-------------------------------------

LOCATE	COMP	"sdram_DQ[0]"	SITE	"D5";
IOBUF	PORT	"SDRAM_DQ[0]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[1]"	SITE	"C5";
IOBUF	PORT	"sdram_DQ[1]"	IO_TYPE=LVCMOS33;


LOCATE	COMP	"sdram_DQ[2]"	SITE	"E5";
IOBUF	PORT	"sdram_DQ[2]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[3]"	SITE	"C6";
IOBUF	PORT	"sdram_DQ[3]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[4]"	SITE	"D6";
IOBUF	PORT	"sdram_DQ[4]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[5]"	SITE	"E6";
IOBUF	PORT	"sdram_DQ[5]"	IO_TYPE=LVCMOS33;


LOCATE	COMP	"sdram_DQ[6]"	SITE	"D7";
IOBUF	PORT	"sdram_DQ[6]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[7]"	SITE	"E7";
IOBUF	PORT	"sdram_DQ[7]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[8]"	SITE	"D10";
IOBUF	PORT	"sdram_DQ[8]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[9]"	SITE	"C11";
IOBUF	PORT	"sdram_DQ[9]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[10]"	SITE	"D11";
IOBUF	PORT	"sdram_DQ[10]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[11]"	SITE	"C12";
IOBUF	PORT	"sdram_DQ[11]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[12]"	SITE	"E10";
IOBUF	PORT	"sdram_DQ[12]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[13]"	SITE	"C13";
IOBUF	PORT	"sdram_DQ[13]"	IO_TYPE=LVCMOS33;


LOCATE	COMP	"sdram_DQ[14]"	SITE	"D13";
IOBUF	PORT	"sdram_DQ[14]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[15]"	SITE	"E11";
IOBUF	PORT	"sdram_DQ[15]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[16]"	SITE	"A5";
IOBUF	PORT	"sdram_DQ[16]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[17]"	SITE	"B4";
IOBUF	PORT	"sdram_DQ[17]"	IO_TYPE=LVCMOS33;


LOCATE	COMP	"sdram_DQ[18]"	SITE	"A4";
IOBUF	PORT	"sdram_DQ[18]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[19]"	SITE	"B3";
IOBUF	PORT	"sdram_DQ[19]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[20]"	SITE	"A3";
IOBUF	PORT	"sdram_DQ[20]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[21]"	SITE	"C3";
IOBUF	PORT	"sdram_DQ[21]"	IO_TYPE=LVCMOS33;


LOCATE	COMP	"sdram_DQ[22]"	SITE	"A2";
IOBUF	PORT	"sdram_DQ[22]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[23]"	SITE	"B2";
IOBUF	PORT	"sdram_DQ[23]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[24]"	SITE	"D14";
IOBUF	PORT	"sdram_DQ[24]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[25]"	SITE	"B14";
IOBUF	PORT	"sdram_DQ[25]"	IO_TYPE=LVCMOS33;


LOCATE	COMP	"sdram_DQ[26]"	SITE	"A14";
IOBUF	PORT	"sdram_DQ[26]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[27]"	SITE	"B13";
IOBUF	PORT	"sdram_DQ[27]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[28]"	SITE	"A13";
IOBUF	PORT	"sdram_DQ[28]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[29]"	SITE	"B12";
IOBUF	PORT	"sdram_DQ[29]"	IO_TYPE=LVCMOS33;


LOCATE	COMP	"sdram_DQ[30]"	SITE	"B11";
IOBUF	PORT	"sdram_DQ[30]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_DQ[31]"	SITE	"A11";
IOBUF	PORT	"sdram_DQ[31]"	IO_TYPE=LVCMOS33;


LOCATE	COMP	"sdram_ADDR[0]"	SITE	"A9";
IOBUF	PORT	"sdram_ADDR[0]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_ADDR[1]"	SITE	"B9";
IOBUF	PORT	"sdram_ADDR[1]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_ADDR[2]"	SITE	"B10";
IOBUF	PORT	"sdram_ADDR[2]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_ADDR[3]"	SITE	"C10";
IOBUF	PORT	"sdram_ADDR[3]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_ADDR[4]"	SITE	"D9";
IOBUF	PORT	"sdram_ADDR[4]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_ADDR[5]"	SITE	"C9";
IOBUF	PORT	"sdram_ADDR[5]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_ADDR[6]"	SITE	"E9";
IOBUF	PORT	"sdram_ADDR[6]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_ADDR[7]"	SITE	"D8";
IOBUF	PORT	"sdram_ADDR[7]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_ADDR[8]"	SITE	"E8";
IOBUF	PORT	"sdram_ADDR[8]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_ADDR[9]"	SITE	"C7";
IOBUF	PORT	"sdram_ADDR[9]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_ADDR[10]"	SITE	"B8";
IOBUF	PORT	"sdram_ADDR[10]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_BA[0]"	SITE	"B7";
IOBUF	PORT	"sdram_BA[0]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_BA[1]"	SITE	"A8";
IOBUF	PORT	"sdram_BA[1]"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_WE"	SITE	"B5";
IOBUF	PORT	"sdram_WE"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_CAS"	SITE	"A6";
IOBUF	PORT	"sdram_CAS"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_RAS"	SITE	"B6";
IOBUF	PORT	"sdram_RAS"	IO_TYPE=LVCMOS33;

LOCATE	COMP	"sdram_CLK"	SITE	"C8";
IOBUF	PORT	"sdram_CLK"	IO_TYPE=LVCMOS33;


#--------PHY0------------------------------------
#LOCATE	COMP	"PHY0_TXC"	SITE	"L1";
#IOBUF	PORT	"PHY0_TXC"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY0_TXD[0]"	SITE	"M2";
#IOBUF	PORT	"PHY0_TXD[0]"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY0_TXD[1]"	SITE	"M1";
#IOBUF	PORT	"PHY0_TXD[1]"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY0_TXD[2]"	SITE	"P1";
#IOBUF	PORT	"PHY0_TXD[2]"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY0_TXD[3]"	SITE	"R1";
#IOBUF	PORT	"PHY0_TXD[3]"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY0_TXCTL"	SITE	"L2";
#IOBUF	PORT	"PHY0_TXCTL"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY0_RXC"	SITE	"J1";
#IOBUF	PORT	"PHY0_RXC"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY0_RXD[0]"	SITE	"K2";
#IOBUF	PORT	"PHY0_RXD[0]"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY0_RXD[1]"	SITE	"J3";
#IOBUF	PORT	"PHY0_RXD[1]"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY0_RXD[2]"	SITE	"K1";
#IOBUF	PORT	"PHY0_RXD[2]"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY0_RXD[3]"	SITE	"J3";
#IOBUF	PORT	"PHY0_RXD[3]"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY0_RXCTL"	SITE	"J2";
#IOBUF	PORT	"PHY0_RXCTL"	IO_TYPE=LVCMOS33;

#Shared signal between two PHY
#LOCATE	COMP	"PHY_0_1_MDC"	SITE	"R5";
#IOBUF	PORT	"PHY_0_1_MDC"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY_0_1_MDIO"	SITE	"T4";
#IOBUF	PORT	"PHY_0_1_MDIO"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY_0_1_RST"	SITE	"R6";  #active low
#IOBUF	PORT	"PHY_0_1_RST"	IO_TYPE=LVCMOS33;


#--------PHY1------------------------------------

#LOCATE	COMP	"PHY1_TXC"	SITE	"J16";
#IOBUF	PORT	"PHY1_TXC"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY1_TXD[0]"	SITE	"K16";
#IOBUF	PORT	"PHY1_TXD[0]"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY1_TXD[1]"	SITE	"J15";
#IOBUF	PORT	"PHY1_TXD[1]"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY1_TXD[2]"	SITE	"J14";
#IOBUF	PORT	"PHY1_TXD[2]"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY1_TXD[3]"	SITE	"K15";
#IOBUF	PORT	"PHY1_TXD[3]"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY1_TXCTL"	SITE	"K14";
#IOBUF	PORT	"PHY1_TXCTL"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY1_RXC"	SITE	"M16";
#IOBUF	PORT	"PHY1_RXC"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY1_RXD[0]"	SITE	"M15";
#IOBUF	PORT	"PHY1_RXD[0]"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY1_RXD[1]"	SITE	"R16";
#IOBUF	PORT	"PHY1_RXD[1]"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY1_RXD[2]"	SITE	"L15";
#IOBUF	PORT	"PHY1_RXD[2]"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY1_RXD[3]"	SITE	"L16";
#IOBUF	PORT	"PHY1_RXD[3]"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY1_RXCTL"	SITE	"P16";
#IOBUF	PORT	"PHY1_RXCTL"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY1_MDC"	SITE	"R5";
#IOBUF	PORT	"PHY1_MDC"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY1_MDIO"	SITE	"T4";
#IOBUF	PORT	"PHY1_MDIO"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"PHY1_RST"	SITE	"R6";  #active low
#IOBUF	PORT	"PHY1_RST"	IO_TYPE=LVCMOS33;


# UNKOWN pin

#LOCATE	COMP	"A7"	SITE	"A7";  
#IOBUF	PORT	"A7"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"A10"	SITE	"A10";  
#IOBUF	PORT	"A10"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"A12"	SITE	"A12";  
#IOBUF	PORT	"A12"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"A15"	SITE	"A15";  
#IOBUF	PORT	"A15"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"D12"	SITE	"D12";  
#IOBUF	PORT	"D12"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"E12"	SITE	"E12";  
#IOBUF	PORT	"E12"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"E13"	SITE	"E12";  
#IOBUF	PORT	"E13"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"K12"	SITE	"K12";  
#IOBUF	PORT	"K12"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"M6"	SITE	"M6";  
#IOBUF	PORT	"M6"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"M13"	SITE	"M13";  
#IOBUF	PORT	"M13"	IO_TYPE=LVCMOS33;

#LOCATE	COMP	"N16"	SITE	"N16";  
#IOBUF	PORT	"N16"	IO_TYPE=LVCMOS33;




